<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise Website Builder v4.10.7, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/Content/assets/images/logo-sem-fundo-166x128.png" type="image/x-icon">
    <meta name="description" content="">

    <title>Home</title>
    <link rel="stylesheet" href="~/Content/assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
    <link rel="stylesheet" href="~/Content/assets/https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext">
    <link rel="stylesheet" href="~/Content/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/Content/assets/https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" href="~/Content/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/dropdown-menu/style.light.css">
    <link rel="stylesheet" href="~/Content/assets/puritym/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/mobirise/css/mbr-additional.css" type="text/css">



</head>
<body>
    <section id="dropdown-menu-2btn-3" data-rv-view="39">

        <nav class="navbar navbar-dropdown transparent navbar-fixed-top bg-color">

            <div class="container">

                <div class="navbar-brand">
                    <a href="https://mobirise.com" class="navbar-logo"><img src="~/Content/assets/images/logo-sem-fundo-166x128.png" alt="Mobirise"></a>
                    <a class="text-black" href="@Url.Action("Index","Home")">SoftHome</a>
                </div>

                <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                    <div class="hamburger-icon"></div>
                </button>

                <ul class="nav-dropdown collapse pull-xs-right navbar-toggleable-sm nav navbar-nav" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="@Url.Action("Index","Home")"><span class="mbri-login mbr-iconfont mbr-iconfont-btn" style="color: rgb(0, 0, 0);"></span>Login</a></li></ul>

            </div>

        </nav>

    </section>

    <section class="mbr-section mbr-section-full mbr-parallax-background mbr-after-navbar" id="header1-1" data-rv-view="34" style="background-image: url(Content/assets/images/mbr-1920x1309.jpeg);">
        <div class="mbr-table-cell">
            <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(2, 117, 216);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-xs-center">

                        <h1 class="mbr-section-title display-1">SoftHome</h1>
                        <p class="lead">Seja bem-vindo ao novo sistema de gestão imobiliária</p>

                    </div>
                </div>
            </div>
            <a class="mbr-arrow" href="#features1-0"><span class="mbri-down mbr-iconfont"></span></a>
        </div>
    </section>
    @RenderBody()
    <section class="mbr-section mbr-section-small" id="features1-0" data-rv-view="31" style="background-color: rgb(255, 255, 255); padding-top: 4.5rem; padding-bottom: 4.5rem;">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card cart-block">
                        <div><span class="mbri-globe-2 mbr-iconfont mbr-iconfont-features1" style="color: rgb(2, 117, 216);"></span></div>
                        <div class="card-block">
                            <h4 class="card-title text-xs-center">100% Online</h4>


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card cart-block">
                        <div><span class="mbrib-responsive mbr-iconfont mbr-iconfont-features1" style="color: rgb(2, 117, 216);"></span></div>
                        <div class="card-block">
                            <h4 class="card-title text-xs-center">Responsivo</h4>


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card cart-block">
                        <div><span class="mbri-smile-face mbr-iconfont mbr-iconfont-features1" style="color: rgb(2, 117, 216);"></span></div>
                        <div class="card-block">
                            <h4 class="card-title text-xs-center">Iconizado</h4>


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card cart-block">
                        <div><span class="mbri-home mbr-iconfont mbr-iconfont-features1" style="color: rgb(2, 117, 216);"></span></div>
                        <div class="card-block">
                            <h4 class="card-title text-xs-center">Gestão de Imóveis</h4>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section mbr-section-nopadding" id="msg-box4-d" data-rv-view="5" style="background-color: rgb(255, 255, 255); padding-top: 6rem; padding-bottom: 3rem;">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-9 mbr-table-cell-lg image-size" style="width: 25%;">
                    <div class="mbr-figure"><img src="~/Content/assets/images/screenshot-1-1400x668.png"></div>
                </div>
                <div class="col-xs-12 col-lg-3 mbr-inner-padding text-xs-center mbr-table-cell-lg">
                    <h3 class="mbr-section-title display-4">Veja suas informações</h3>

                    <div class="lead"><p>Tela Personalizada pra você</p></div>

                </div>

            </div>
        </div>
    </section>

    <section class="mbr-section mbr-section-nopadding" id="msg-box4-c" data-rv-view="8" style="background-color: rgb(255, 255, 255); padding-top: 3rem; padding-bottom: 6rem;">

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-3 mbr-inner-padding text-xs-center mbr-table-cell-lg">
                    <h3 class="mbr-section-title display-4">Cadastro Completo</h3>

                    <div class="lead"><p>Nosso cadastro conta com muitas informações</p></div>

                </div>
                <div class="col-xs-12 col-lg-9 mbr-table-cell-lg image-size" style="width: 25%;">
                    <div class="mbr-figure"><img src="~/Content/assets/images/screenshot-2-1400x709.png"></div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="mbr-section mbr-section-small mbr-footer" id="contacts2-9" data-rv-view="29" style="background-color: rgb(2, 117, 216); padding-top: 4.5rem; padding-bottom: 4.5rem;">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <p><strong>Endereço:</strong><br>Av. Anteno da Messina,1022 &nbsp;- <br>São Paulo SP <br>Cep: 02318-1<br><br><strong>Contatos:</strong><strong><br></strong>Email: nossacasanossolar@gmail.com<br>Telefone: (11)2243-4355<br><br></p>
                </div>
                <div class="col-xs-12 col-md-3"><ul></ul></div>
                <div class="col-xs-12 col-md-6">
                    <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.3466834189935!2d-46.59056148502434!3d-23.44795608473929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef42f340d916d%3A0x8c989f16239fb5fe!2sAv.%20Antonelo%20da%20Messina%2C%201022%20-%20S%C3%ADtio%20do%20Piqueri%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002318-000!5e0!3m2!1spt-BR!2sbr!4v1574610958328!5m2!1spt-BR!2sbr" allowfullscreen=""></iframe></div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/Content/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/tether/tether.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/Content/assets/jarallax/jarallax.js"></script>
    <script src="~/Content/assets/dropdown-menu/script.js"></script>
    <script src="~/Content/assets/puritym/js/script.js"></script>


</body>
</html>