@model Tcc_Unasp.Models.Cliente
<div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Criação de Clientes</h4>
        </div>
        <div class="card-body">
            @{Html.RenderPartial("_CreateCliente");}
        </div>
    </div>
    </div>

         